/figures
/save
/.idea
*__pycache__*
*egg-info*
*.joblib
*mypy_cache*
/.vscode
*.pyd
/old_runs
/tensorboard
/misc_crap
/maps/*
!/maps/map5_0.5m_cl.npy
/trackmania_rl/dxcam
*.txt
!requirements_conda.txt
!requirements_pip.txt
*.mov
*.mp4
/temp
/dxcam*
/old_tensorboard
/scripts/TMInterface.lnk
tminterface.cpython-311-x86_64-linux-gnu.so
Nadeo.ini
*.Gbx
*.gbx
/imagenet_sample_160p
*.lnk
.stignore*
config_files/config_copy.py