/figures
/save
/.idea
*__pycache__*
*egg-info*
*.joblib
*mypy_cache*
/.vscode
*.pyd
/old_runs
/tensorboard
/data
/misc_crap
/maps
/trackmania_rl/dxcam
*.txt
*.mov
*.mp4
/temp
/dxcam*
/old_tensorboard
