spyder
spyder-kernels
isort
black
numpy~=1.23.5
tminterface~=1.0.2
matplotlib~=3.7.1
pydirectinput
joblib~=1.2.0
mypy
pprofile

psutil~=5.9.4
readwritememory~=0.1.5
torch~=2.0.0+cu118
setuptools~=67.6.0
typing~=3.10.0.0
numba~=0.56.4
opencv-python~=4.7.0.72